<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Dchronicles Explication International Pvt. Ltd</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

    <style>
       ul.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.nav li {
  position: relative;
}

ul.nav li a {
  display: block;
  padding:2px 5px;
  text-decoration: none;
  color: #000;
}



ul.nav .dropdown-menu {
  display: none;
  
  top: 100%;
  left: 0;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul.nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

    </style>

  </head>

<body>
 <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12" style="padding: 0;">
                  <nav class="main-nav" style="margin-left: 0%; margin-right: 0px;" >
                      <!-- ***** Logo Start ***** -->
                     <!-- ***** Logo Start ***** -->
                     <a href="index.html" class="logo">
                      <img src="assets\images\DC.png" style="width:220px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class=""><a href="index.html">Home</a></li>
                      <li class=""><a href="Aboutus.html">About Us</a></li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Services
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="hardware.html">Hardware</a></li>
                          <li><a class="dropdown-item" href="software.html">Software</a></li>
                          <li><a class="dropdown-item" href="training&placement.html">Training & Placement</a></li>
                           <!--<li><a class="dropdown-item" href="recruitment.html">Recruitment</a></li>-->
                        </ul>
                      </li>
                      <li class=""><a th:href="@{/apply}">Apply Now</a></li>
                      <li class=""><a th:href="@{/vendor}">Vendor</a></li>
                      <li class=""><a href="blog.html">Blog</a></li>
                      <li class=""><a href="contact.html">Contact Us</a></li>      
                    </ul>
                    
        
                    <a class="menu-trigger">
                      <span>Menu</span>
                    </a>
                  <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
  </section>



  <section class="contact-us" id="contact">
<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 align-self-center">
        <div class="row">
          <div class="col-lg-12">
            <form id="contact" action="contact" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Let's get in touch</h2>
                </div>
                <div class="col-lg-4">
                  <fieldset>
                    <input name="name" type="text" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4">
                  <fieldset>
                  <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
                </div>
                <!--<div class="col-lg-4">
                  <fieldset>
                    <input name="mobile" type="tel" id="mobile" pattern="[0-9]{3}[0-9]{4}[0-9]{3}" placeholder="Phone No" required="">
                  </fieldset>
                </div>-->
                <div class="col-lg-4">
    <fieldset>
        <input name="phoneNumber" type="tel" id="phone" pattern="[0-9]{3}[0-9]{4}[0-9]{3}" placeholder="Phone No" required="">
    </fieldset>
</div>
                
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" type="text" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="right-info">
          <ul>
            <li>
              <h1>Phone Number</h1>
              <span>7350735036</span>
            </li>
            <li>
              <h1>Email Address</h1>
              <span>dchronicleshr@gmail.com</span>
            </li>
            <li>
              <h1>Street Address</h1>
              <span>C-25 Liberty Phase 2, Opp Lane No 5, Koregaon Park Pune - 411001</span>
            </li>
            <li>
              <h1>Website URL</h1>
              <span>www.dchronicles.in</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container" style="margin: 20px 0;">
    <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.8618798963926!2d73.89226157703352!3d18.535142723788784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c10702f6f40f%3A0xbeb6fc37a91fcd03!2sLane%20Number%205%2C%20Liberty%20Phase%202%2C%20Ragvilas%20Society%2C%20Koregaon%20Park%2C%20Pune%2C%20Maharashtra%20411001!5e0!3m2!1sen!2sin!4v1723885037150!5m2!1sen!2sin" 
            title="C-Wing,3rd Floor,Office No-25,Liberty Phase 2" aria-label="C-Wing,3rd Floor,Office No-25,Liberty Phase 2 , Koregaon Park , Pune , Opp lane no 5 , 411001" 
            width="100%" height="450" style="border:0;" allowfullscreen="">
    </iframe>
  </div>   
  
  </section>


<div class="footer" id="footer">
<div class="top-footer">
<div class="container">
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <h3>About Us</h3>
    <p id="footerinfo">Incorporated in the year 2022, Dchronicles- an IT Company provides End - End IT solutions and consulting in Pune India. In the last two decades Dchronicles has become a market leader with its committed, experienced and knowledgeable team which always provided the best and latest technology products and solutions.</p>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <ul>
      <li><h3>Our Services</h3></li>
      <li><a href="hardware.html">Hardware</a></li>
      <li><a href="software.html">Software</a></li>
      <li><a href="training&placement.html">Training & Placement</a></li>
     <li><a href="recruitment.html">Recruitment</a></li>
    
    </ul>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <ul>
      <li><h3>Quick Links</h3></li>
      <li><a href="Aboutus.html">About Us</a></li>
      <li><a href="Applynow.html">Apply</a></li>
      <li><a href="Vendor.html">Vendor</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </div>
  <div class="col-sm-3 col-md-3">
    <ul>
    <li><h3>Connect with us Socially</h3></li>
    </ul>
    <div class="footerdown-icons"></div>
    <ul>
    <li><a href="https://www.facebook.com/profile.php?id=61564010036688&mibextid=ZbWKwL"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
    <li><a href="https://www.instagram.com/dchronicle_expliction?igsh=MTBvb3BxMjZpbDdkZQ=="><i class="fa fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
    <li><a href="https://www.linkedin.com/company/dchronicles/"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
    <li><a href="https://x.com/Dchronicles_?t=8hBNRlpgtRcj_YPzIgy7PQ&s=08"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
  </ul>
  </div>
</div>
</div>
</div>
</div>


<div class="footer">
  <p class="copyrightline">Copyright © 2024 Dchronicles Pvt. Ltd. All Rights Reserved. 
</div></div>
</section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
