
 <!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Dchronicles Explication International Pvt. Ltd</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
<style>
   ul.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.nav li {
  position: relative;
}

ul.nav li a {
  display: block;
  padding:2px 5px;
  text-decoration: none;
  color: #000;
}



ul.nav .dropdown-menu {
  display: none;
  
  top: 100%;
  left: 0;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul.nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

</style>
  </head>

<body>  
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12" style="padding: 0">
          <nav class="main-nav" style="margin-left: 0%; margin-right: 0px;">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="assets\images\DC.png" style="width:220px;">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" >Home</a></li>
              <li class=""><a href="Aboutus.html">About Us</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="hardware.html">Hardware</a></li>
                  <li><a class="dropdown-item" href="software.html">Software</a></li>
                  <li><a class="dropdown-item" href="training&placement.html">Training & Placement</a></li>
                  <!--<li><a class="dropdown-item" href="recruitment.html">Recruitment</a></li>-->
                </ul>
              </li>
              <li class=""><a th:href="@{/apply}">Apply Now</a></li>
              <li class=""><a th:href="@{/vendor}">Vendor</a></li>
              <li class=""><a href="blog.html">Blog</a></li>
              <li class=""><a href="contact.html">Contact Us</a></li>   
              
            </ul>
            

            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/videos/bg-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
                  <h6>Dchronicles Explication International Pvt Ltd </h6><br>
                  <p>It is a professionally managed company incorporated in August 2018.
                    Leading with global IT transformation architect with an developing and delivering end to end IT Infrastructure.
                    We are committed to make constant efforts to provide Dchronicles Explication International Pvt Ltd through our efficient search and by continual improvement to achieve total customer satisfaction. To have branch networking at all metro and major cities of India and provide services to clients through multi location presence.
                    </p>
              <div class="main-button-red">
                  <div><a href="Aboutus.html">Know More!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Core Services</h4>
                <p>Company operates for delivering <br> innovative solutions to clients.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Mission</h4>
                <p>To deliver exceptional value to <br> our employees, and stakeholders.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Management Team</h4>
                <p> Team composed of experienced leaders <br>dedicated to driving company’s vision.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Global Presence</h4>
                <p>Operates across multiple locations,<br> delivering innovative solutions.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Technology Stack</h4>
                <p>Company leverages a robust technology <br>stack comprising modern frameworks.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Business Model</h4>
                <p>Providing cutting-edge <br> technology solutions.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2 style="padding-top: 50px;">Courses</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Why to choose us</h4>
            <ul>
              <li>Comprehensive Curriculum</li>
              <li>Hands-On Projects</li>
              <li>Expert Instructors</li>
              <li>Flexible Learning Options</li>
              <li>Community and Networking</li>
              <li>Certification</li>
            </ul>
            <div class="main-button-red">
              <a href="training&placement.html">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>3 Months</span>
                  </div>
                  <a href="java.html"><img src="assets/images/java.png" alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6> <span></span></h6>
                  </div>
                  <a href="java.html"><h4>Java</h4></a>
                  <p>Master Object-Oriented Programming with Java.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>3 Months</span>
                  </div>
                  <a href="cybersecurity.html"><img src="assets/images/Cybersecurity.png" alt="Online Teaching"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6><span></span></h6>
                  </div>
                  <a href="cybersecurity.html"><h4>Cyber Security</h4></a>
                  <p>Defend Digital Frontiers with Cutting-Edge Cybersecurity Skills.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>3 Months</span>
                  </div>
                  <a href="hardwarecourse.html"><img src="assets/images/Hardware.png" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6><span></span></h6>
                  </div>
                  <a href="hardwarecourse.html"><h4>Hardware & Networking</h4></a>
                  <p>Build and Maintain Robust Computer Systems..</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>3 Months</span>
                  </div>
                  <a href="backendcourse.html"><img src="assets/images/backend.png" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6> <span></span></h6>
                  </div>
                  <a href="backendcourse.html"><h4>Ethical Hacking </h4></a>
                  <p>Master Ethical Hacking and Safeguard the Digital World</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>Our Tech Enabled Army</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">195</div>
                    <div class="count-title">World Wide</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">350</div>
                    <div class="count-title">OEM Skills</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">10000</div>
                    <div class="count-title">Service Patners</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">15000</div>
                    <div class="count-title">FreeLance Patners</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87Xpjgcgck" target="_blank"><img src="" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    
    <div class="footer" id="footer">
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 about-us">
              <h3>About Us</h3>
              <p id="footerinfo">Incorporated in the year 2022, Dchronicles- an IT Company provides End - End IT solutions and consulting in Pune India. In the last two decades Dchronicles has become a market leader with its committed, experienced and knowledgeable team which always provided the best and latest technology products and solutions.</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
              <ul>
                <li><h3>Our Services</h3></li>
                <li><a href="hardware.html">Hardware</a></li>
                <li><a href="software.html">Software</a></li>
                <li><a href="training&placement.html">Training & Placement</a></li>
                <li><a href="recruitment.html">Recruitment</a></li>
              
              </ul>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
              <ul>
                <li><h3>Quick Links</h3></li>
                <li><a href="Aboutus.html">About Us</a></li>
                <li><a th:href="@{/apply}">Apply</a></li>
                <li><a th:href="@{/vendor}">Vendor</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <ul>
                <li><h3>Connect with us Socially</h3></li>
                </ul>
                <div class="footerdown-icons"></div>
                <ul>
                <li><a href="https://www.facebook.com/profile.php?id=61564010036688&mibextid=ZbWKwL"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                <li><a href="https://www.instagram.com/dchronicle_expliction?igsh=MTBvb3BxMjZpbDdkZQ=="><i class="fa fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                <li><a href="https://www.linkedin.com/company/dchronicles/"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
                <li><a href="https://x.com/Dchronicles_?t=8hBNRlpgtRcj_YPzIgy7PQ&s=08"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="footer">
      <p class="copyrightline">Copyright © 2024 Dchronicles Pvt. Ltd. All Rights Reserved. 
    </div></div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>