<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Dchronicles Explication International Pvt. Ltd</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
<style> ul.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.nav li {
  position: relative;
}

ul.nav li a {
  display: block;
  padding:2px 5px;
  text-decoration: none;
  color: #000;
}



ul.nav .dropdown-menu {
  display: none;
  
  top: 100%;
  left: 0;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul.nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
</style>
  </head>

<body>
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12" style="padding: 0;">
                  <nav class="main-nav" style="margin-left: 0%; margin-right: 0px;" >
                      <!-- ***** Logo Start ***** -->
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                        <img src="assets\images\DC.png" style="width:220px;">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
              <li class=""><a href="index.html">Home</a></li>
              <li class=""><a href="Aboutus.html">About Us</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="hardware.html">Hardware</a></li>
                  <li><a class="dropdown-item" href="software.html">Software</a></li>
                  <li><a class="dropdown-item" href="training&placement.html">Training & Placement</a></li>
                   <!--<li><a class="dropdown-item" href="recruitment.html">Recruitment</a></li>-->
                </ul>
              </li>
              <li class=""><a th:href="@{/apply}">Apply Now</a></li>
              <li class=""><a th:href="@{/vendor}">Vendor</a></li>
              <li class=""><a href="blog.html">Blog</a></li>
              <li class=""><a href="contact.html">Contact Us</a></li>      
            </ul>
            

            <a class="menu-trigger">
              <span>Menu</span>
            </a>
                <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <h2>Recruitment</h2>
        </div>
      </div>
    </div>
  </section>


    <section class="contact-us" id="contact">
      
</div>


<div class="footer" id="footer">
<div class="top-footer">
<div class="container">
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <h3>About Us</h3>
    <p id="footerinfo">Incorporated in the year 2022, Dchronicles- an IT Company provides End - End IT solutions and consulting in Pune India. In the last two decades Dchronicles has become a market leader with its committed, experienced and knowledgeable team which always provided the best and latest technology products and solutions.</p>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <ul>
      <li><h3>Our Services</h3></li>
      <li><a href="hardware.html">Hardware</a></li>
      <li><a href="software.html">Software</a></li>
      <li><a href="training&placement.html">Training & Placement</a></li>
      <li><a href="recruitment.html">Recruitment</a></li>
    
    </ul>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <ul>
      <li><h3>Quick Links</h3></li>
      <li><a href="Aboutus.html">About Us</a></li>
      <li><a th:href="@{/apply}">Apply</a></li>
      <li><a th:href="@{/vendor}">Vendor</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </div>
  <div class="col-sm-3 col-md-3">
    <ul>
    <li><h3>Connect with us Socially</h3></li>
    </ul>
    <div class="footerdown-icons"></div>
    <ul>
    <li><a href="https://www.facebook.com/profile.php?id=61564010036688&mibextid=ZbWKwL"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
    <li><a href="https://www.instagram.com/dchronicle_expliction?igsh=MTBvb3BxMjZpbDdkZQ=="><i class="fa fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
    <li><a href="https://www.linkedin.com/company/dchronicles/"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
    <li><a href="https://x.com/Dchronicles_?t=8hBNRlpgtRcj_YPzIgy7PQ&s=08"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
  </ul>
  </div>
</div>
</div>
</div>
</div>


<div class="footer">
  <p class="copyrightline">Copyright © 2024 Dchronicles Pvt. Ltd. All Rights Reserved. 
</div></div>
</section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
